automation/workflows/email_to_ledger.json
{
  "name": "Email Transaction to Ledger CLI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        32
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "Label_3863799735100229879"
          ]
        }
      },
      "id": "gmail-read",
      "name": "Fetch Transaction Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        32
      ],
      "webhookId": "f1c717ae-b5ad-43ee-ad4b-59a9b074fac0",
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "sf1rbEtul9ySqeCu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id, threadId, snippet, Subject, To",
        "options": {}
      },
      "id": "aggregate-emails",
      "name": "Aggregate All Emails",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-entries",
              "leftValue": "={{ $json.hasEntries }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-entries",
      "name": "Has Entries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1296,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ledgerContent = input.ledgerContent;\nconst entryCount = input.entryCount;\nconst emailIds = input.emailIds || [];\nconst today = new Date().toISOString().split('T')[0];\n\nconst binaryData = Buffer.from(ledgerContent + '\\n', 'utf-8');\n\nreturn [{\n  json: {\n    entryCount: entryCount,\n    fileName: `ledger-entries-${today}.ledger`,\n    emailIds: emailIds\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/plain',\n      fileName: `ledger-entries-${today}.ledger`,\n      fileExtension: 'ledger'\n    }\n  }\n}];"
      },
      "id": "create-file",
      "name": "Create Ledger File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "prinzpiuz@gmail.com",
        "subject": "=Ledger Entries - {{ $now.format('yyyy-MM-dd') }} ({{ $json.entryCount }} transactions)",
        "emailType": "text",
        "message": "={{ $json.entryCount }} new ledger entries extracted from your transaction emails.\n\nReview the attached .ledger file and append its contents to your main ledger.\n\nGenerated at: {{ $now.format('yyyy-MM-dd HH:mm') }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "send-email",
      "name": "Email Ledger File",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        32
      ],
      "webhookId": "ab5954a6-3f6a-4fa9-a22c-827c877d4428",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "sf1rbEtul9ySqeCu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a plain-text accounting expert that converts bank/credit card transaction email notifications into Ledger CLI format entries.\n\nRULES:\n1. Date format: YYYY/MM/DD\n2. Currency: Always INR with ₹ symbol\n3. Amounts must have exactly 2 decimal places (e.g., ₹687.71)\n4. Use 4 spaces for indentation before account lines\n5. The second account line (source/payment account) should have NO amount - Ledger CLI infers it\n6. Each entry is separated by a blank line\n7. Payee/description goes on the same line as the date\n\nAVAILABLE EXPENSE ACCOUNTS (use the closest match, create a new sub-account ONLY if nothing fits):\nExpenses:Tea\nExpenses:Food\nExpenses:Food:Sweets\nExpenses:Food:IceCream\nExpenses:DiningOut\nExpenses:Groceries\nExpenses:Groceries:Milk\nExpenses:Groceries:Butter\nExpenses:Groceries:Vegetables\nExpenses:Groceries:Egg\nExpenses:Groceries:Curd\nExpenses:Groceries:Chapathi\nExpenses:Fruits\nExpenses:Meat:Chicken\nExpenses:Meat:Fish\nExpenses:Meat:Pork\nExpenses:Bar\nExpenses:Fuel\nExpenses:HairCut\nExpenses:Medical\nExpenses:Miscellaneous\nExpenses:Cloth\nExpenses:Entertainment:Movie\nExpenses:Amazon\nExpenses:Amazon:Gadgets:Headphone\nExpenses:Amazon:Gadgets:HardDisk\nExpenses:Amazon:Gadgets:UPS\nExpenses:Amazon:Gadgets:Watch\nExpenses:Amazon:Miscellaneous\nExpenses:Subscriptions:Youtube\nExpenses:Subscriptions:Spotify\nExpenses:Subscriptions:VPN\nExpenses:Subscriptions:Gym\nExpenses:Subscriptions:BitWarden\nExpenses:Subscriptions:NoBroker\nExpenses:Bills:Electricity\nExpenses:Bills:Internet\nExpenses:Bills:FastTag\nExpenses:Bills:Parking\nExpenses:Bills:Repair:Cycle\nExpenses:Bills:Repair:Laptop\nExpenses:Bills:Repair:Plumbing\nExpenses:Insurance:Car\nExpenses:Insurance:Life\nExpenses:Car:Painting\nExpenses:Car:Washing\nExpenses:SelfCare:Dress\nExpenses:SelfCare:Floss\nExpenses:Travel:Uber\nExpenses:Travel:Metro\nExpenses:Travel:TrainTicket\nExpenses:Travel:Benguluru:Stay\nExpenses:Travel:Benguluru:Food\nExpenses:Travel:Benguluru:Metro\nExpenses:Travel:Benguluru:Miscellaneous\nExpenses:Travel:Benguluru:Entertainment\nExpenses:Travel:Benguluru:Baggage\nExpenses:Donations:Marriage\nExpenses:Donations:Wikipedia\nExpenses:Applications:Passport\nExpenses:Family:HouseHolds\nExpenses:Family:HouseHolds:Fridge\nExpenses:Family:HouseHolds:Ikea\nExpenses:Family:AquaGuard\nExpenses:Celebration:NewYearEve\nExpenses:KSFE\n\nAVAILABLE PAYMENT SOURCE ACCOUNTS:\nLiabilities:Credit:SBICreditCard\nLiabilities:Credit:ICICICreditCard\nLiabilities:Credit:FederalBankCreditCard\nAssets:Banking:FederalBank\nAssets:Banking:ICICIBANK\nAssets:Banking:SBIFamilyAccount\nAssets:Banking:SBIPersonal\nAssets:AmazonPay\nAssets:Broker:Zerodha\n\nAVAILABLE INCOME ACCOUNTS:\nIncome:Salary:Nuventure\nIncome:Dividend:TataSteel\nIncome:BankTransfer:Anjali\nIncome:BankTransfer:Merin\nIncome:BankTransfer:Pappa\nIncome:Refund\nIncome:GooglePay\nIncome:CreditGiven\nIncome:PF:Nuventure\n\nOTHER ACCOUNTS:\nLiabilities:Loans:SBI:CarLoan\nCreditGiven:Varun\nCreditGiven:Joseph\nCreditGiven:Paul\nCreditGiven:AthulPaul\nCreditGiven:Nayana\nCreditGiven:Sugunan\nAssets:EPFO\n\nINSTRUCTIONS:\n- Identify the payment source from the email (which card or bank account was used)\n- Match the merchant/transaction to the best expense category\n- Extract the exact amount from the email\n- Extract the exact date from the email\n- If the email is NOT a transaction notification (e.g., marketing, OTP, statement summary, balance alert), output SKIP for that email\n- Output ONLY the ledger entries, nothing else. No explanations, no markdown, no code fences, no commentary.\n\nEXAMPLE OUTPUT:\n2026/03/01 Swiggy Food Order\n    Expenses:Food    ₹350.00\n    Liabilities:Credit:SBICreditCard\n\n2026/03/01 Shell Petrol Pump\n    Expenses:Fuel    ₹1500.00\n    Liabilities:Credit:ICICICreditCard\n\nHere are the transaction emails to process:\n\n{{ $json.data.map((item, i) => `--- EMAIL ${i+1} ---\\nFrom: ${item.from}\\nSubject: ${item.subject}\\nDate: ${item.date}\\nBody: ${item.snippet || item.textPlain || item.text || ''}`).join('\\n\\n') }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "temperature": 0,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        816,
        32
      ],
      "id": "ad2017fe-4cc8-4000-8043-ab5f565c8f83",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "googlePalmApi": {
          "id": "XLY008dIrieLWP8z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw response from Gemini\nconst item = $input.first().json;\n\nlet text = '';\n\n// Try multiple possible response structures\n// Gemini Chat Model node\nif (item?.content?.parts) {\n  text = item.content.parts.map(p => p.text || '').join('');\n} \n// Gemini via HTTP or different node versions\nelse if (item?.candidates) {\n  text = item.candidates\n    .map(c => c.content?.parts?.map(p => p.text || '').join('') || '')\n    .join('');\n}\n// Direct text fields (Claude, OpenAI, etc.)\nelse if (item?.message?.content) {\n  text = item.message.content;\n} else if (item?.text) {\n  text = item.text;\n} else if (item?.output) {\n  text = item.output;\n} else {\n  // Last resort: stringify and search for ledger patterns\n  text = JSON.stringify(item);\n}\n\n// The Gemini response wraps the ledger text in a JSON array string\n// Try to parse it out if it's a JSON array containing a string\ntry {\n  const parsed = JSON.parse(text);\n  if (Array.isArray(parsed) && typeof parsed[0] === 'string') {\n    text = parsed[0];\n  } else if (typeof parsed === 'string') {\n    text = parsed;\n  }\n} catch (e) {\n  // Not JSON, use as-is\n}\n\n// Unescape any escaped newlines\ntext = text.replace(/\\\\n/g, '\\n').trim();\n\n// Filter out SKIP lines and clean up\nconst lines = text.split('\\n');\nconst filteredLines = lines.filter(line => line.trim() !== 'SKIP');\nconst ledgerContent = filteredLines.join('\\n').trim();\n\nif (!ledgerContent || ledgerContent === 'SKIP') {\n  return [{ json: { hasEntries: false, ledgerContent: '' } }];\n}\n\n// Count entries (each entry starts with a date pattern YYYY/MM/DD)\nconst entryCount = (ledgerContent.match(/^\\d{4}\\/\\d{2}\\/\\d{2}/gm) || []).length;\n\nconst aggregatedItems = $('Aggregate All Emails').first().json;\nconst emailIds = (aggregatedItems.data || []).map(item => item.id).filter(Boolean);\n\nreturn [{ \n  json: { \n    hasEntries: true, \n    ledgerContent: ledgerContent,\n    entryCount: entryCount,\n    generatedAt: new Date().toISOString(),\n    emailIds: emailIds\n  } \n}];"
      },
      "id": "process-response",
      "name": "Process Model Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const emailIds = $('Create Ledger File').first().json.emailIds || [];\nreturn emailIds.map(id => ({ json: { messageId: id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        32
      ],
      "id": "daeef155-2e0f-4d4e-8d10-a2075c778fe8",
      "name": "Split Email IDs"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.messageId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2016,
        32
      ],
      "id": "66f1cb6e-aaec-40e2-8674-fc7e69605245",
      "name": "Delete a message",
      "webhookId": "9af02f3d-0a92-408a-90bc-9d8b1c4aa1c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "sf1rbEtul9ySqeCu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002178003120",
        "text": "No Transactions Detected/Found",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        304
      ],
      "id": "0e105bfe-9dd7-418a-9f05-c39c9f8d8f69",
      "name": "Send a text message",
      "webhookId": "cf480171-a1ad-409b-9008-86b28b7b3e17",
      "credentials": {
        "telegramApi": {
          "id": "RuJvBXel69e2gzQS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "-1002178003120",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        -160
      ],
      "id": "07894f2a-9c21-4b4b-a818-5af4025cab81",
      "name": "Send a document",
      "webhookId": "d9c9748a-8f9c-43c3-a555-72678364e2d8",
      "credentials": {
        "telegramApi": {
          "id": "RuJvBXel69e2gzQS",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Transaction Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transaction Emails": {
      "main": [
        [
          {
            "node": "Aggregate All Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Emails": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Entries?": {
      "main": [
        [
          {
            "node": "Create Ledger File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ledger File": {
      "main": [
        [
          {
            "node": "Email Ledger File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Ledger File": {
      "main": [
        [
          {
            "node": "Split Email IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Process Model Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Model Response": {
      "main": [
        [
          {
            "node": "Has Entries?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Email IDs": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d23febfc-c5ba-48d7-92c3-6e2f49bef651",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7d71a75037c751f6f2f99666ea4c568df9222f4ce344d5668d5a76dbbd5f1e6"
  },
  "id": "1",
  "tags": [
    {
      "updatedAt": "2026-02-28T11:50:50.966Z",
      "createdAt": "2026-02-28T11:50:50.966Z",
      "id": "bqHd2IRLypCuwgeq",
      "name": "automation"
    },
    {
      "updatedAt": "2026-02-28T11:50:50.963Z",
      "createdAt": "2026-02-28T11:50:50.963Z",
      "id": "i46z159NONqT5p1e",
      "name": "finance"
    }
  ]
}
